### Eclipse ###

/.project

### Eclipse+Java ###

/bin/
/.classpath
/.factorypath

### IntelliJ IDEA ###

/out/

### Maven ###

/target/
/.flattened-pom.xml

### Eclipse+Java ###

/bin/
/.classpath
/.factorypath

### IntelliJ IDEA ###

/out/

### Gradle ###

/.gradle/
/build/

# Add custom ignores after this line to be preserved during automated updates
